$border-radius: $border-radius - 5px;

%pseudos {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 2px;
  transition: $transition;
}

.form_wrapper {
  position: relative;
  height: 100vh;
  background: url("../assets/about1.jpg");
  background-color: #333;
  background-size: cover;
  background-position: 100%;
  background-blend-mode: multiply;
  & form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form_fullscreen {
  background-color: #fff;
  width: 95%;
  max-width: 500px;
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: 2px 5px 10px #888;

  input {
    width: 100%;
    display: block;
    font-size: 1rem;
    margin: 5px 0;
    padding: 0.3rem 0.5rem;
    border: none;
    outline: none;
  }

  input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 5px;
  }

  button {
    @extend %button;
    width: 100%;
    border-radius: $border-radius;
    margin-top: 5px;

    &:hover,
    &:focus {
      background-color: var(--c3);
    }
  }
}

.form_fullscreen {
  h2 {
    color: var(--c2);
  }

  .input_container {
    padding-top: 5px;
    position: relative;
    overflow: hidden;

    & .content_span {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      pointer-events: none;
      transition: $transition;
      transform-origin: left top;
      color: var(--c2);
    }

    & .label_name::before {
      @extend %pseudos;
      background-color: var(--c2);
    }

    & .label_name::after {
      @extend %pseudos;
      background-color: var(--c3);
      transform: translateX(-100%);
    }

    & input:focus + .label_name::after {
      transform: translateX(0%);
    }

    & input:focus + .label_name .content_span,
    & input:valid + .label_name .content_span {
      transform: translateY(-100%) scale(0.8);
      color: var(--c3);
    }
  }
}
