.home-head {
  @extend %component;
  max-width: 1300px;
}

.grid-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  @media screen and (max-width: 1000px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 425px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 320px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}

.book {
  position: relative;
  background: #000;
  color: #fff;
  transition: all 500ms ease;
  border-radius: $border-radius;
  cursor: pointer;

  p,
  strong {
    opacity: 0;
    transition: all 500ms ease;
  }

  & p:nth-child(1) {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  & p:nth-child(2) {
    position: absolute;
    top: 4rem;
    left: 1rem;
  }

  strong {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  img {
    height: 100%; // This I will change in the future
    object-fit: cover;
    border-radius: $border-radius;
    transition: all 500ms ease;
    box-shadow: $box-shadow;
  }

  &:hover {
    p,
    strong {
      opacity: 1;
    }

    img {
      opacity: 0.2;
    }
  }
}
