$padding: 0.2rem 2.5%;

header {
  background-color: var(--c2);
  color: #fff;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_header {
  button {
    @extend %button;
  }
  .primary {
    background-color: var(--c3);
    padding: 0.9rem;
  }
  .secondary {
    background-color: var(--c2);
  }
}
