$padding: 0.2rem 2.5%;

header {
  background-color: var(--c2);
  color: #fff;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_header {
  button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: $border-radius;
    border: none;
    margin: 0 1px;
    color: #fff;
    outline: none;
    transition: $transition;
    &:hover {
      opacity: 0.7;
    }
  }
  .primary {
    background-color: var(--c3);
    padding: 0.9rem;
  }
  .secondary {
    background-color: var(--c2);
  }
}
