.message_box {
  position: relative;
  width: 100%;
  padding: 0.2rem 2.5%;
  background-color: var(--c4);
}
.temporal {
  position: relative;
  z-index: 1;
  animation: temporal 3s ease forwards;
}

@keyframes temporal {
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
}
.warning {
  background-color: var(--warning);
}
.error {
  background-color: var(--error);
}
.pass {
  background-color: var(--pass);
}
