$height: 2.2rem;

.form-wrapper {
  width: 80%;
  max-width: 700px;
}

.search-form {
  position: relative;
  height: $height;
  border-radius: $border-radius;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  color: #5a6674;
  border-radius: $border-radius;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  outline: none;
  cursor: pointer;
}
