@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto+Slab:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

:root {
  --c1: #191970;
  --c2: #006400;
  --c3: #ff4500;
  --c4: #ffd700;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--c2), var(--c2), var(--c1));
}

$border-radius: 10px;

@import "header";
@import "footer";
@import "gridhome";
@import "withoutBooks";

@import "loading";
